html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}

/*Global Styles*/
body {
  font-family: courier, helvetica, arial;
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
}
.content-container {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}
.home {
  width: 100%;
}
/*Header Style*/
.header {
  background-color: #000;
  color: #fff;
  width: 100vw;
  z-index: 20;
  height: 10vh;
  position: fixed;
}

.header-logo {
  width:15vh;
  height: 10vh;
}
.header-logo:hover {
  background-color: purple;
}
.header-logo img{
 width: 1vh; 
}
.header-nav {
  float: right;
  margin-right: 10px;
  display: inline-block;
}
.header-nav li {
  margin: 10px;
  float: left;
  list-style-type: none;
  padding-top: 2vh;
}
.header-nav a {
  color: white;
  text-decoration: none;
}
.header-nav a:hover,
.header-nav a:active {
  color: purple;
}

/*Hero Style*/
.full-hero {
  flex: 1 1 auto;
  height:90vh;
  padding-top: 10vh;
  box-sizing: border-box;
  background-size: cover;
  width: 100%;
}
.hero-home {
  background-image: url(../images/Hero.jpg);
  background-position: 0 10vh;
}
.hero-content {
  color: #fff;
  top: 50%;
  position: relative;
  width: 20vw;
  padding-left: 2.5rem;
  transform: translate(0, -50%);
  line-height: 1.5;
  display: inline-block;
}
.hero-type {
  font-size: 1.5em;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 1.5s steps(20, end), blink .75s step-end infinite;
  white-space: nowrap;
  border-right: 4px solid purple;
  box-sizing: border-box;
  width: auto;
}

@keyframes typing {
  from {
    width: 0%
  }
  to {
    width: 55%
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: purple;
  }
}
/*Footer Style*/
.footer {
  background-color: #000;
  color: #fff;
  text-align: right;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}
.social-links img {
  height: 2em;
  padding: 0.1em;
  padding-top: 0.5em;
}
.footer span {
  text-decoration: line-through;
}

/*Opinions Styles*/
